org: diegoladrondeg
service: api-gestion-usuarios

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  memorySize: 1024
  timeout: 29   # Máximo permitido por API Gateway

  role: arn:aws:iam::851725327526:role/LabRole
  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - rekognition:DetectLabels
        - rekognition:DetectFaces
      Resource: "*"

    - Effect: Allow
      Action:
        - secretsmanager:GetSecretValue
      Resource: !Sub "arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:ExternalApiKeySecret-*"

  environment:
    DYNAMODB_TABLE_NAME: ${self:custom.usuarioTableName.${self:provider.stage}}
    S3_BUCKET_NAME: ${self:custom.imagesBucketName.${self:provider.stage}}
    STAGE: ${self:provider.stage}

functions:
  register:
    handler: src/register.lambda_handler
    timeout: 29
    events:
      - http:
          path: /auth/register
          method: post
          cors:
            origin: "*"
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: false


  login:
    handler: src/login.lambda_handler
    timeout: 29
    events:
      - http:
          path: /auth/login
          method: post
          cors:
            origin: "*"
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
            allowCredentials: false


  auth_checker: # Nueva función para validar tu token simple
    handler: src/auth_checker.lambda_handler
    memorySize: 128
    timeout: 10
    environment:
      DYNAMODB_TABLE_NAME: ${self:custom.usuarioTableName.${self:provider.stage}}

  get_upload_url:
    handler: src/get_upload_url.lambda_handler
    timeout: 29
    events:
      - http:
          path: /images/upload-url
          method: post
          cors: true
          authorizer:
            name: TokenAuthorizer # Nombre del Authorizer en API Gateway
            type: TOKEN
            functionName: auth_checker # Lambda que valida el token
            identitySource: method.request.header.Authorization # Header donde buscará el token
            resultTtlInSeconds: 300 # Cachear la respuesta por 5 minutos

  ai_generate:
    handler: src/ai_generate.lambda_handler
    timeout: 60
    memorySize: 1024
    events:
      - http:
          path: /images/generate
          method: post
          cors: true
          authorizer:
            name: TokenAuthorizer
            type: TOKEN
            functionName: auth_checker
            identitySource: method.request.header.Authorization
            resultTtlInSeconds: 300
    environment:
      EXTERNAL_SECRET_NAME: ExternalApiKeySecret-${self:provider.stage}

  ai_generate:
    handler: src/ai_generate.lambda_handler
    timeout: 29
    memorySize: 1024
    events:
      - http:
          path: /images/generate
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: CognitoAuthorizer
            identitySource: method.request.header.Authorization
    environment:
      EXTERNAL_SECRET_NAME: ExternalApiKeySecret-${self:provider.stage}

custom:
  usuarioTableName:
    dev: ${self:service}-dev-usuario_bd
    test: ${self:service}-test-usuario_bd
    prod: ${self:service}-prod-usuario_bd

  imagesBucketName:
    dev: ${self:service}-${self:provider.stage}-images-${aws:accountId}
    test: ${self:service}-${self:provider.stage}-images-${aws:accountId}
    prod: ${self:service}-${self:provider.stage}-images-${aws:accountId}

resources:
  Resources:

    # ======================================================
    # 1. USER POOL
    # ======================================================
    UserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:service}-${self:provider.stage}-userpool
        AutoVerifiedAttributes:
          - email

    # ======================================================
    # 2. USER POOL CLIENT
    # ======================================================
    UserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:service}-${self:provider.stage}-appclient
        UserPoolId: !Ref UserPool
        GenerateSecret: false

    # ======================================================
    # 3. AUTHORIZER
    # ======================================================
    CognitoAuthorizer:
      Type: AWS::ApiGateway::Authorizer
      Properties:
        Name: CognitoAuthorizer-${self:provider.stage}
        Type: COGNITO_USER_POOLS
        IdentitySource: "method.request.header.Authorization"
        RestApiId:
          Ref: ApiGatewayRestApi
        ProviderARNs:
          - !GetAtt UserPool.Arn

    # ======================================================
    # 4. DYNAMODB TABLE
    # ======================================================
    UsuarioTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.usuarioTableName.${self:provider.stage}}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH

    # ======================================================
    # 5. S3 BUCKET
    # ======================================================
    ImagesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.imagesBucketName.${self:provider.stage}}
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders: ['*']
              AllowedMethods: [GET, PUT, HEAD]
              AllowedOrigins: ['*']
              MaxAge: 3000
        PublicAccessBlockConfiguration:
          BlockPublicAcls: false
          BlockPublicPolicy: false
          IgnorePublicAcls: false
          RestrictPublicBuckets: false

    ImagesBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref ImagesBucket
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Sid: PublicReadForAllObjects
              Effect: Allow
              Principal: "*"
              Action: s3:GetObject
              Resource: !Sub "arn:aws:s3:::${self:custom.imagesBucketName.${self:provider.stage}}/*"

    # ======================================================
    # 6. SECRET
    # ======================================================
    ExternalApiKeySecret:
      Type: AWS::SecretsManager::Secret
      Properties:
        Name: ExternalApiKeySecret-${self:provider.stage}
        Description: Token API para Replicate
        SecretString: "r8_1rYZHC0B73Gvmx2VxprhQ7FvOQHITvF19Vc92"
