org: diegoladrondeg
service: api-gestion-usuarios

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: ${opt:stage, 'dev'}
  memorySize: 1024
  timeout: 60
  role: arn:aws:iam::049376646199:role/LabRole

  iamRoleStatements:
    - Effect: Allow
      Action:
        - rekognition:DetectLabels
        - rekognition:DetectFaces
      Resource: "*"

    - Effect: Allow
      Action:
        - secretsmanager:GetSecretValue
      Resource: arn:aws:secretsmanager:${self:provider.region}:049376646199:secret:ExternalApiKeySecret-*

  environment:
    DYNAMODB_TABLE_NAME: ${self:custom.usuarioTableName.${self:provider.stage}}
    S3_BUCKET_NAME: ${self:custom.imagesBucketName.${self:provider.stage}}
    STAGE: ${self:provider.stage}
    EXTERNAL_SECRET_NAME: ExternalApiKeySecret-${self:provider.stage}

functions:
  register:
    handler: src/register.lambda_handler
    events:
      - http:
          path: /auth/register
          method: post
          cors: true

  login:
    handler: src/login.lambda_handler
    events:
      - http:
          path: /auth/login
          method: post
          cors: true

  get_upload_url:
    handler: src/get_upload_url.lambda_handler
    events:
      - http:
          path: /images/upload-url
          method: post
          cors: true
          # Mantener el authorizer si la API Gateway ya existe
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${opt:authorizerId, 'none'}
            identitySource: method.request.header.Authorization

  ai_generate:
    handler: src/ai_generate.lambda_handler
    timeout: 60
    memorySize: 1024
    events:
      - http:
          path: /images/generate
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId: ${opt:authorizerId, 'none'}
            identitySource: method.request.header.Authorization

custom:
  usuarioTableName:
    dev: ${self:service}-dev-usuario_bd
    test: ${self:service}-test-usuario_bd
    prod: ${self:service}-prod-usuario_bd

  imagesBucketName:
    dev: ${self:service}-dev-images-bucket
    test: ${self:service}-test-images-bucket
    prod: ${self:service}-prod-images-bucket
